// COLORS
$color-main-background: hsl(233, 47%, 7%);
$color-card-background: hsl(244, 38%, 16%);
$color-accent: hsl(277, 64%, 61%);
$color-white: hsl(0, 0%, 100%);
$color-main-paragraph: hsla(0, 0%, 100%, 0.75);
$color-stat-heading: hsla(0, 0%, 100%, 0.6);

// Default font size
$default-font-size: 1.5rem;

$font-family-1: "Inter", sans-serif;
$font-family-2: "Lexend Deca", sans-serif;

//Breakpoints
$bp-large: 64.5em;
$bp-medium: 51.2em;
$bp-small: 44.5em;
$bp-mobile: 36.2em;
